<% provide(:title, 'All seasons') %>
<h1>All seasons</h1>

<div class="span8">
	<ol class="games">
		<table class="table table-condensed table-striped">
			<thead>
			    <tr>
			      	<th>Season</th>
			      	<th>Record</th>
			  		<th></th>			
			 	</tr>
			 </thead>
			<tbody>
				<%= render @seasons %>
			</tbody>
		</table>
	</ol>
</div>

<%= will_paginate %>

<%= link_to "Add season", new_season_path, class: "btn btn-small btn-primary" %>