<% provide(:title, 'All players') %>
<h1>All players</h1>

<div class="span8">
	<ol class="games">
		<table class="table table-condensed table-striped">
			<thead>
			    <tr>
			      	<th>Name</th>
			      	<th>Position</th>
			  		<th></th>			
			 	</tr>
			 </thead>
			<tbody>
				<%= render @players %>
			</tbody>
		</table>
	</ol>
</div>

<%= will_paginate %>

<%= link_to "Add player", new_player_path, class: "btn btn-small btn-primary" %>